<!-- <div class="search">
  <tr>
    <td style="border: none;">
      <div class="searchbox">
        <input type="text" name="filter" (keyup)="applyFilter($event)"   id="search" placeholder="Filter">
      </div>
    </td>
    <td style="border: none;">
      <div>
        <button class="btn btn-primary" name="loaded" >Loaded</button>
      </div>
    </td>
  </tr>
</div> -->
<br>
<br>
<table class="table table-hover">
    <thead>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>City</th>
      <th>State</th>
      <th>Postal Code</th>
      <th>Present Address</th>
      <th>Permanent Address</th>
      <th>Phone No</th>
      <th>Email Address</th>
      
    </thead>
    <tbody>
      <tr *ngFor="let item of data ">
        <td *ngIf="!item.visible">{{item.id}}</td>
        <td *ngIf="!item.visible">{{item.firstName}}</td>
        <td *ngIf="!item.visible">{{item.lastName}}</td>
        <td *ngIf="!item.visible">{{item.city}}</td>
        <td *ngIf="!item.visible">{{item.state}}</td>
        <td *ngIf="!item.visible">{{item.postalCode}}</td>
        <td *ngIf="!item.visible">{{item.presentAddress}}</td>
        <td *ngIf="!item.visible">{{item.permanentAddress}}</td>
        <td *ngIf="!item.visible">{{item.phoneNo}}</td>
        <td *ngIf="!item.visible">{{item.emailAddress}}</td>
        <td *ngIf="!item.visible" style="cursor: pointer;">
          <button type="button" class="rowbutton" (click)="onEdit(item)">Edit</button>   
      </td>
      <td *ngIf="!item.visible" style="cursor: pointer;">
        <button type="button" class="rowbutton" (click)="delete(item.id)">Delete</button>   
    </td>
      <td *ngIf="item.visible">{{item.id}}</td>
      <td *ngIf="item.visible"><input [(ngModel)]="item.firstName " id="field"></td>
      <td *ngIf="item.visible"><input [(ngModel)]="item.lastName" id="field"></td>
      <td *ngIf="item.visible"><input [(ngModel)]="item.city " id="field"></td>
      <td *ngIf="item.visible"><input [(ngModel)]="item.state" id="field"></td>
      <td *ngIf="item.visible"><input [(ngModel)]="item.postalCode" id="field"></td>
      <td *ngIf="item.visible"><input [(ngModel)]="item.presentAddress" id="field"></td>
      <td *ngIf="item.visible"><input [(ngModel)]="item.permanentAddress" id="field"></td>
      <td *ngIf="item.visible"><input [(ngModel)]="item.phoneNo " id="field"></td>
      <td *ngIf="item.visible"><input [(ngModel)]="item.emailAddress" id="field"></td>
      <td *ngIf="item.visible">
        <button type="button" class="rowbutton" (click)="onRowSubmit(item,item.id)">submit</button>
      </td>
      </tr>
    </tbody>
</table>

